# Tarea 1 Bases de Datos 2022-1 Grupo XX

_Recuerde modificar esta celda y la siguiente! (Borre esta línea también)._

## Integrantes:
* Nombre Integrante 1 - Rol-1
* Nombre Integrante 2 - Rol-2
* Nombre Integrante 3 - Rol-3

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- ToolKit **sqlalchemy**
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (recuerde actualizar pip3):

In [ ]:
! pip3 install ipython-sql
! pip3 install sqlalchemy
! pip3 install psycopg2

#Use to generate names
! pip3 install names

## Importar dependencias

In [1]:
from datetime import datetime
import random as r
import names
import string

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [2]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:1234@localhost:5432/Universidad

env: DATABASE_URL=postgresql://postgres:1234@localhost:5432/Universidad

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [3]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='Universidad',
   password="1234"
)

print(connection)
cursor = connection.cursor()

<connection object at 0x00000243DE081580; dsn: 'user=postgres password=xxx dbname=Universidad host=localhost', closed: 0>

## Crear tablas

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "Usuarios"

In [46]:
%%sql

CREATE TABLE Usuarios (
    ID_usuario INTEGER GENERATED ALWAYS AS IDENTITY ,
    nombre VARCHAR(45) NOT NULL,
    apellido VARCHAR(45),
    correo VARCHAR(45) NOT NULL,
    contraseña VARCHAR(50) NOT NULL,
    fecha_registro TIMESTAMP NOT NULL,
    PRIMARY KEY (ID_usuario)
);

 * postgresql://postgres:***@localhost:5432/Universidad
Done.

[]

### Tabla "Creadores"

In [47]:
%%sql

CREATE TABLE Creadores(
    ID_creador INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    apellido VARCHAR(45) NOT NULL,
    popularidad INTEGER,
    estilo VARCHAR(45),
    PRIMARY KEY (ID_creador)
);

 * postgresql://postgres:***@localhost:5432/Universidad
Done.

[]

### Tabla "Tipos_NTF"

In [48]:
%%sql

CREATE TABLE Tipos_NFT(
    ID_tipo INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(20) NOT NULL,
    PRIMARY KEY (ID_tipo)
);

 * postgresql://postgres:***@localhost:5432/Universidad
Done.

[]

### Tabla "NFT"

In [49]:
%%sql
CREATE TABLE NFT(
    ID_nft INTEGER GENERATED ALWAYS AS IDENTITY,
    nombre VARCHAR(45) NOT NULL,
    ID_creador INTEGER NOT NULL,
    ID_tipo INTEGER,
    PRIMARY KEY (ID_nft),
    FOREIGN KEY (ID_creador) REFERENCES Creadores (ID_creador),
    FOREIGN KEY (ID_tipo) REFERENCES Tipos_nft (ID_tipo)
);

 * postgresql://postgres:***@localhost:5432/Universidad
Done.

[]

### Tabla "Precio NFT"

In [55]:
%%sql

CREATE TABLE Precio_NFT(
    ID_nft INTEGER,
    fecha TIMESTAMP NOT NULL,
    precio INT NOT NULL,
    PRIMARY KEY (ID_nft, fecha),
    FOREIGN KEY (ID_nft) REFERENCES NFT (ID_nft)
);

 * postgresql://postgres:***@localhost:5432/Universidad
Done.

[]

### Tabla "Usuario tiene NFT"

In [1]:
%%sql

CREATE TABLE Usuario_tiene_NFT(
    ID_usuario INTEGER,
    ID_nft INTEGER,
    PRIMARY KEY (ID_usuario, ID_nft),
    FOREIGN KEY (ID_usuario) REFERENCES Usuarios (ID_usuario),
    FOREIGN KEY (ID_nft) REFERENCES NFT (ID_nft)
);

UsageError: Cell magic `%%sql` not found.

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [14]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp():
    year = r.randint(2015,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_password():
    return ''.join(r.choice(string.ascii_uppercase + string.digits) for x in range(15))

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = "TRUNCATE TABLE usuarios, creadores, tipos_nft, nft, precio_nft, usuario_tiene_nft RESTART IDENTITY"
cursor.execute(query)
connection.commit()


print("Generando Datos...")

nft_names = ['Crypto Raptors', 'The Binary Girl', 'Sphere Art', 'Fight Punks', 'Thunder NFT', 'Artistic Alpha', 'Digital Unicorns', 'Bling Bits', 'Secret Stones', 'Crypto Potato', 'Futuristic Realism', 'Nova Auroras', 'Dreamy Imaginations', 'Reflected Light', 'Spells of Genesis', 'Crypto Felines', 'Dose of Art', 'To The Moon', 'Artful Antlers', 
'Butterfly Dust', 'Depressed Dragons', 'Crypto Diamonds', 'Healthy Hedgehogs', 'Crypto Jackpot', 'Minecraft Sphere', 'Crypto Boom', 'Lucky Lizards', 'Rockin Crypto', 'Crystalline Canyon', 'Koala Kickers', 'Clumsy Crocodiles', 'Mountain of Clouds', 'Blizz Blizzard', 'Cryptokitty Ville', 'Cryptonaut', 'Mike Halloween Yodelers', 'The Teacup Pomeranian', 
'Art Dodger', 'Awesome Concept', 'Aliens Abduction', 'Animated Hard Art', 'Ultimate Iconic Crypto (IUC)', 'Hilarious Horses', '1-Love', '0NOZER0', 'Meteorite NFT', 'Bee Token', 'Elephant Treasure Hunt', 'Crypto Life', '1NiTRO', 'Dust Rift', 'Tokenized Superheroes', 'Techno Abstract Aesthetics', 'Digi Gods', 'Outstanding Octopus', 'Panther NFT', 
'Cypherpunk Samurai', 'Rich Rhinos', 'Crypto Punked', 'Funny Frogs', 'Bit NFT', 'Phonetic Phoenix', 'Flame Stinger', 'Fight For The Title', 'Koalas in Love', 'Touchdown', 'Resilient Rats', 'Bloom of Flowers', 'NFT Lord', 'Fair Coin', 'Art Rumble', 'Light Embrace', 'Crypto Bunny Ranch', 'Crypto Pigeon Race', 'Water Wiggle', 'Wowoo World', 
'Crypto Club', 'Crypto Kitties Of War', 'Visionary Crypto', 'Women Power', 'Rainbows Ends', 'Cards of Polo', 'Crypto Kitties', 'Busy Bats', '0xHile', 'Token Watchdogs', 'Non Fungible Nibbles', 'Pandamonium', '3D Me', 'Midas NFTs', 'Graceful Gorillas', 'United Crypto Token (UCT)', 'Crypto Art Gallery', 'Dark Horse Lady', 'Block View', 'Arty Arts', 
'White Storm', 'Krypto Queen', 'Clever Chimp', 'Qat Tree Unicorn', 'Anna Frozen Entertainers', 'Artificial Rocks', '0NOCH0', 'Flame Blade', 'The Gold Betta', 'Doge Pal', 'Elite Fur Dog Race Club', 'Dust Sifter', 'Moonlit Butterfly', 'Art Lover Box', 'Madame Witch', 'Fantasy Token', 'Bitsy', 'Hive City', 'Couch Potato', 'Burger Bits', 'Crypto Potluck', 
'Cyberboxer', 'Calm Crows', 'Crumbs NFT', 'Mint Chocolates', 'Atollon Coral', 'Dapper Dinos', 'Flame Cats', 'Addictive Animals', 'Alice Wonderland Frozen Carolers', 'Coin Dance', 'Giant Coin', 'Silver Lining Pixy', 'Headed Shark Attack', 'Ultimate League Of Paragon', 'Darker Clouds', 'Blue Mood Chip', 'Brush Point', 'Enthusiastic Elephants', 'Ultra Cool Dogs', 
'Pink Sports Cars']

dominios = ["hola.cl", "google.com","usm.cl","prestigio.usm.cl","crypto.co","basededatos.top"]

tipos_nft = [
    ("Imagen",), ("Musica",),("Juegos",), ("Modelo 3D",), ("Pixel",), ("Membresia",),("Arte",),
]

estilos = [
    ("Anime",),("Manga",),("Arte Retro",),("Arte Moderno",),("Impresionismo",),("Barroco",),("Arte Antiguo",),("Arte 3D",),("Paisaje",)
]

n_usuarios = 200
n_creadores = 20
n_nft = len(nft_names)
n_tipos_nft = len(tipos_nft)
n_usuario_tiene_nft = 80

usuarios = []
for _ in range(1, n_usuarios+1):
    nombre = names.get_first_name()
    apellido = names.get_last_name()
    correo = nombre.lower()+"."+apellido[:4].lower()+"@"+r.choice(dominios)
    usuarios.append((nombre,apellido,correo,generate_password(),generate_timestamp()))

creadores = [(names.get_first_name(), names.get_last_name(), r.randint(0,5), r.choice(estilos)) for _ in range(1,n_creadores+1)]

nft = [(nft_names[n], r.randint(1,n_creadores), r.randint(1,n_tipos_nft)) for n in range(n_nft)]

precio_nft = [(r.randint(1,n_nft), generate_timestamp(), r.randint(500, 100000)) for _ in range(300)]

usuario_tiene_nft = [(r.randint(1,n_usuarios),r.randint(1,n_nft)) for _ in range(81)]


insert = [
    "INSERT INTO usuarios (nombre, apellido, correo, contraseña, fecha_registro) VALUES (%s, %s, %s, %s, %s)",
    "INSERT INTO creadores (nombre, apellido, popularidad, estilo) VALUES (%s, %s, %s, %s)",
    "INSERT INTO tipos_nft (nombre) VALUES (%s)",
    "INSERT INTO nft (nombre, id_creador, id_tipo) VALUES (%s, %s, %s)",
    "INSERT INTO precio_nft (id_nft, fecha, precio) VALUES (%s, %s, %s)",
    "INSERT INTO usuario_tiene_nft (id_usuario, id_nft) VALUES (%s, %s)"
]


for usuario in usuarios:
    cursor.execute(insert[0], usuario)

for creador in creadores:
    cursor.execute(insert[1], creador) 

for tipo in tipos_nft:
    cursor.execute(insert[2], tipo)  

for n in nft:
    cursor.execute(insert[3], n)  
    
for precio in precio_nft:
    cursor.execute(insert[4], precio) 
    
for usr in usuario_tiene_nft:
    cursor.execute(insert[5], usr)
    
connection.commit()

print("Todo Listo!")

Borrando Datos Antiguos...
Generando Datos...
Todo Listo!

## Consultas

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1
**ID y Nombre del creador de un estilo X con mayor popularidad.**
###### Si hay más de uno, ponga solamente el primero

Ejemplo:

|Id |  Creador      |
|---|-----------|
| 12 |Levi Ackerman |

**Solución:** _Escriba aquí la descripción de su solución._

In [9]:
%%sql

SELECT 
    ID_creador, nombre
FROM 
    Creadores
WHERE
    popularidad = (
        SELECT 
            MAX(popularidad)
        FROM
            Creadores
    )
LIMIT 1

 * postgresql://postgres:***@localhost:5432/Universidad
1 rows affected.

[(1, 'Charlotte')]

### Consulta 2
**Cantidad de precios que ha tenido históricamente cada NTF.**

Ejemplo:


| NFT     | Cantidad de precios |
|--------------|----------|
| Minecraft Sphere |    3     |
| The Binary Girl     |    7     |
| ...          |   ...    |

**Solución:** _Escriba aquí la descripción de su solución._

In [4]:
%%sql

SELECT 
    Tabla.NFT, Tabla.Cantidad_de_Precios
FROM(
    SELECT
        NFT.nombre aS NFT, final.Cantidad as Cantidad_de_Precios
    FROM(
        SELECT
            Tabla1.ides as identificador,
            count(*) as Cantidad
        FROM(
            SELECT
                ID_nft as ides
            FROM
                Precio_NFT
        )as Tabla1

        GROUP BY
            Tabla1.ides
    )as final INNER JOIN NFT

    ON
        final.identificador=NFT.ID_nft
    
)as Tabla;

120 rows affected.

[('Crypto Raptors', 1),
 ('The Binary Girl', 2),
 ('Sphere Art', 3),
 ('Thunder NFT', 3),
 ('Artistic Alpha', 5),
 ('Digital Unicorns', 5),
 ('Bling Bits', 3),
 ('Secret Stones', 4),
 ('Crypto Potato', 1),
 ('Nova Auroras', 4),
 ('Dreamy Imaginations', 3),
 ('Reflected Light', 6),
 ('Spells of Genesis', 1),
 ('Crypto Felines', 1),
 ('Dose of Art', 2),
 ('To The Moon', 4),
 ('Artful Antlers', 1),
 ('Butterfly Dust', 2),
 ('Depressed Dragons', 1),
 ('Crypto Diamonds', 3),
 ('Healthy Hedgehogs', 1),
 ('Crypto Jackpot', 3),
 ('Crypto Boom', 3),
 ('Lucky Lizards', 2),
 ('Rockin Crypto', 2),
 ('Crystalline Canyon', 4),
 ('Koala Kickers', 3),
 ('Clumsy Crocodiles', 5),
 ('Blizz Blizzard', 3),
 ('Cryptokitty Ville', 1),
 ('Cryptonaut', 2),
 ('Mike Halloween Yodelers', 2),
 ('The Teacup Pomeranian', 4),
 ('Art Dodger', 3),
 ('Awesome Concept', 3),
 ('Aliens Abduction', 2),
 ('Animated Hard Art', 2),
 ('Ultimate Iconic Crypto (IUC)', 2),
 ('Hilarious Horses', 3),
 ('1-Love', 2),
 ('0NOZER0', 2),
 ('Meteorite NFT', 1),
 ('Bee Token', 1),
 ('Elephant Treasure Hunt', 2),
 ('Crypto Life', 2),
 ('1NiTRO', 6),
 ('Dust Rift', 4),
 ('Techno Abstract Aesthetics', 2),
 ('Outstanding Octopus', 3),
 ('Cypherpunk Samurai', 3),
 ('Rich Rhinos', 4),
 ('Crypto Punked', 4),
 ('Funny Frogs', 4),
 ('Bit NFT', 1),
 ('Flame Stinger', 3),
 ('Fight For The Title', 3),
 ('Koalas in Love', 5),
 ('Touchdown', 1),
 ('Resilient Rats', 1),
 ('Bloom of Flowers', 3),
 ('NFT Lord', 1),
 ('Fair Coin', 2),
 ('Light Embrace', 3),
 ('Crypto Bunny Ranch', 2),
 ('Crypto Pigeon Race', 3),
 ('Wowoo World', 3),
 ('Crypto Club', 2),
 ('Crypto Kitties Of War', 2),
 ('Visionary Crypto', 1),
 ('Women Power', 3),
 ('Rainbows Ends', 1),
 ('Cards of Polo', 2),
 ('Crypto Kitties', 4),
 ('Busy Bats', 2),
 ('0xHile', 2),
 ('Token Watchdogs', 2),
 ('Non Fungible Nibbles', 2),
 ('Pandamonium', 4),
 ('Midas NFTs', 1),
 ('United Crypto Token (UCT)', 4),
 ('Crypto Art Gallery', 2),
 ('Dark Horse Lady', 3),
 ('Block View', 4),
 ('Arty Arts', 3),
 ('White Storm', 2),
 ('Krypto Queen', 4),
 ('Clever Chimp', 2),
 ('Anna Frozen Entertainers', 1),
 ('Artificial Rocks', 3),
 ('0NOCH0', 2),
 ('The Gold Betta', 4),
 ('Doge Pal', 1),
 ('Dust Sifter', 1),
 ('Moonlit Butterfly', 1),
 ('Art Lover Box', 1),
 ('Madame Witch', 3),
 ('Fantasy Token', 2),
 ('Bitsy', 4),
 ('Hive City', 1),
 ('Couch Potato', 3),
 ('Burger Bits', 1),
 ('Crypto Potluck', 4),
 ('Calm Crows', 1),
 ('Crumbs NFT', 2),
 ('Mint Chocolates', 3),
 ('Atollon Coral', 2),
 ('Dapper Dinos', 4),
 ('Flame Cats', 2),
 ('Addictive Animals', 6),
 ('Coin Dance', 1),
 ('Giant Coin', 2),
 ('Silver Lining Pixy', 1),
 ('Headed Shark Attack', 1),
 ('Ultimate League Of Paragon', 3),
 ('Darker Clouds', 1),
 ('Blue Mood Chip', 1),
 ('Brush Point', 2),
 ('Enthusiastic Elephants', 3),
 ('Ultra Cool Dogs', 3),
 ('Pink Sports Cars', 2)]

### Consulta 3
**El nombre y tipo (nombre del tipo) del NFT históricamente más caro.**
###### Si hay más de uno, ponga solamente el primero
Ejemplo:

| NFT    | Tipo | 
|----------------|--------|
| Minecraft Sphere| Arte 3D |

**Solución:** _Escriba aquí la descripción de su solución._

In [5]:
%%sql
SELECT
    Tabla.NFT,Tabla.Tipo
FROM(
    
SELECT
    final.nombrecito as NFT,Tipos_NFT.nombre as Tipo
    

FROM(
    SELECT
        NFT.nombre as nombrecito,
        NFT.ID_tipo as identificador

    FROM(

        SELECT
            Precio_NFT.ID_nft as laid,
            maximo.preciomax as maxi
    

        FROM (
            SELECT
                max(precio) as preciomax
            FROM
                Precio_NFT
            ) as maximo INNER JOIN Precio_NFT

        ON
            maximo.preciomax=Precio_NFT.precio
    
    ) as penultimo INNER JOIN NFT

    ON 
        penultimo.laid=NFT.ID_nft
    
)as final INNER JOIN Tipos_NFT

ON
    final.identificador=Tipos_NFT.ID_tipo
    
)as Tabla;

 * postgresql://postgres:***@localhost:5432/Universidad
1 rows affected.

[('Dapper Dinos', 'Juegos')]

### Consulta 4
**Nombre y apellido del usuario con más número de NFTs.**

Ejemplo:

| Nombre     | Apellido |
|----------------|--------|
| Levi | Ackerman |

**Solución:** _Escriba aquí la descripción de su solución._

In [6]:
%%sql

SELECT 
    Usuarios.nombre, Usuarios.apellido
FROM(
    SELECT 
        Tabla3.usua as usuari, Tabla3.canti as cantidad
    FROM(
        SELECT 
            Tabla2.idusua as usua, Tabla2.veces as canti
        FROM(
            SELECT
                Tabla1.idusuario as idusua, count(*) as veces
            FROM(
                SELECT
                    ID_Usuario as idusuario ,ID_nft 
                FROM 
                    Usuario_tiene_NFT
            )as Tabla1

            GROUP BY
                Tabla1.idusuario
        )as Tabla2

        ORDER BY
            Tabla2.veces DESC
    )as Tabla3
    
    LIMIT 1
)as final INNER JOIN Usuarios

ON
    final.usuari=Usuarios.ID_usuario

 * postgresql://postgres:***@localhost:5432/Universidad
1 rows affected.

[('John', 'Crowder')]

### Consulta 5
**El NFT que más veces cambió de precio historicamente.**

Ejemplo:

|  ID  | NFT | 
|--------|-------|
| 11 |Minecraft Sphere | 

**Solución:** _Escriba aquí la descripción de su solución._

In [49]:
%%sql

SELECT 
    Tabla.id_nft, Tabla.NFT
FROM(
    SELECT
        NFT.nombre as NFT, final.Cantidad as Cantidad_de_Precios, NFT.ID_nft as id_nft
    FROM(
        SELECT
            Tabla1.ides as identificador,
            count(*) as Cantidad
        FROM(
            SELECT
                ID_nft as ides
            FROM
                Precio_NFT
        )as Tabla1

        GROUP BY
            Tabla1.ides
    )as final INNER JOIN NFT

    ON
        final.identificador=NFT.ID_nft
)as Tabla

ORDER BY
    Tabla.cantidad_de_precios DESC
LIMIT 1;

 * postgresql://postgres:***@localhost:5432/Universidad
1 rows affected.

[(14, 'Reflected Light')]

### Consulta 6
**Usuarios que NO tienen un NFT.**

Ejemplo

|Nombre | Apellido|
|--------|-------|
|Guillermo    | Diaz |
|Markus | Person |
|Rick   | Astley |
|... | ...| 

**Solución:** _Escriba aquí la descripción de su solución._

In [81]:
%%sql

SELECT
    nombre, apellido
FROM
    Usuarios LEFT JOIN Usuario_tiene_NFT ON Usuarios.ID_usuario = Usuario_tiene_NFT.ID_usuario
WHERE
    Usuario_tiene_NFT IS NULL
ORDER BY
    nombre DESC;

 * postgresql://postgres:***@localhost:5432/Universidad
133 rows affected.

[('Wayne', 'Green'),
 ('Wayne', 'Carnell'),
 ('Warren', 'Smith'),
 ('Troy', 'Jensen'),
 ('Tina', 'Gilliland'),
 ('Tina', 'Harvey'),
 ('Timothy', 'Mathis'),
 ('Tiffany', 'Smock'),
 ('Tiffany', 'Nowak'),
 ('Terry', 'Boone'),
 ('Taylor', 'Mitchell'),
 ('Tammy', 'Jessup'),
 ('Steven', 'Campbell'),
 ('Stephen', 'Mahoney'),
 ('Shirley', 'Wallace'),
 ('Shirley', 'Rahman'),
 ('Shirley', 'Roberts'),
 ('Shawanna', 'Johnson'),
 ('Sarah', 'Kocher'),
 ('Sandra', 'Kreitner'),
 ('Roxanna', 'Cody'),
 ('Roland', 'Nii'),
 ('Rodger', 'Britt'),
 ('Robert', 'Stuart'),
 ('Robert', 'Williams'),
 ('Robert', 'Lundblad'),
 ('Robert', 'Agin'),
 ('Richard', 'Bailey'),
 ('Ricardo', 'Horton'),
 ('Renita', 'Shelley'),
 ('Raymond', 'Heard'),
 ('Ray', 'Simmons'),
 ('Paula', 'Jorge'),
 ('Paul', 'Skrebes'),
 ('Patricia', 'Nichols'),
 ('Patricia', 'Thomas'),
 ('Patricia', 'Keath'),
 ('Pamela', 'Vick'),
 ('Oscar', 'Overy'),
 ('Olga', 'Branham'),
 ('Myron', 'Castleberry'),
 ('Mike', 'Thayer'),
 ('Michael', 'Stuart'),
 ('Michael', 'Parish'),
 ('Michael', 'Sanchez'),
 ('Michael', 'Nichols'),
 ('Michael', 'Wallace'),
 ('Melissa', 'Fields'),
 ('Maurice', 'Cervantes'),
 ('Mattie', 'Sowers'),
 ('Matthew', 'Levy'),
 ('Mathew', 'Neal'),
 ('Mary', 'Clark'),
 ('Martin', 'Frates'),
 ('Mark', 'Robertson'),
 ('Mark', 'Roush'),
 ('Margaret', 'Rushing'),
 ('Luis', 'Slane'),
 ('Lourdes', 'Morales'),
 ('Loretta', 'Rosenstock'),
 ('Lloyd', 'Powell'),
 ('Linda', 'Valdez'),
 ('Kristina', 'Jones'),
 ('Kevin', 'Winfrey'),
 ('Keith', 'Zarate'),
 ('Kayla', 'Burleson'),
 ('Kathryn', 'Jablonski'),
 ('Katherine', 'Mulligan'),
 ('Julia', 'Perlman'),
 ('Josephine', 'Mayo'),
 ('Jose', 'Paige'),
 ('John', 'Sevilla'),
 ('John', 'Simmons'),
 ('John', 'Ewing'),
 ('Joan', 'Shuler'),
 ('Jim', 'Drury'),
 ('Jesse', 'Telesco'),
 ('Jennifer', 'Moore'),
 ('Jennifer', 'Evans'),
 ('Jean', 'Hansen'),
 ('Javier', 'Vining'),
 ('Jason', 'Robinson'),
 ('Jared', 'Fernandez'),
 ('James', 'Riggings'),
 ('Isabel', 'Scales'),
 ('Isaac', 'Calhoun'),
 ('Ida', 'Meachum'),
 ('Heather', 'Brown'),
 ('Hazel', 'Simien'),
 ('Gregory', 'Lloyd'),
 ('Gilbert', 'Anderson'),
 ('Gilbert', 'Shepherd'),
 ('Gertrude', 'Zimmerman'),
 ('Gerry', 'Fisher'),
 ('George', 'Smith'),
 ('Gene', 'Frost'),
 ('Gene', 'Dalporto'),
 ('Francisco', 'Mullikin'),
 ('Evelyn', 'Snow'),
 ('Emmett', 'Cowett'),
 ('Emily', 'Pennington'),
 ('Elaine', 'Bement'),
 ('Eduardo', 'Morris'),
 ('Edna', 'Yancy'),
 ('Edmund', 'Brooks'),
 ('Doris', 'Delk'),
 ('Donald', 'Burton'),
 ('David', 'Parsons'),
 ('Darlene', 'Puulei'),
 ('Daniel', 'Smart'),
 ('Danica', 'Chao'),
 ('Cristal', 'Draper'),
 ('Courtney', 'Hill'),
 ('Cindy', 'Wheeler'),
 ('Charles', 'Luken'),
 ('Charles', 'Garcia'),
 ('Chanel', 'King'),
 ('Carolyn', 'Graham'),
 ('Carol', 'Cotton'),
 ('Carmen', 'Kittle'),
 ('Brittany', 'Ahn'),
 ('Brett', 'Cano'),
 ('Bettye', 'Hunter'),
 ('Betsy', 'Trosclair'),
 ('Bella', 'Gill'),
 ('Beatrice', 'Cannon'),
 ('Annie', 'Kelley'),
 ('Anne', 'May'),
 ('Anna', 'Herndon'),
 ('Anita', 'Mannion'),
 ('Andrew', 'Nguyen'),
 ('Alisha', 'Mcdonnell'),
 ('Albert', 'Roberts')]

### Consulta 7
**Top 4 NFTs más caros actualmente de un id_tipo X .**

Ejemplo:

|NFT | 
|--------|
|Minecraft Sphere | 
|The Binary Girl |
|Koalas in Love | 
|Art Dodger | 

**Solución:** _Escriba aquí la descripción de su solución._

In [127]:
%%sql
SELECT
    nombre
FROM (
    SELECT
        tabla1.id_nft, tabla1.fecha_nft, tabla1.precio_nft
    FROM (
        SELECT DISTINCT ON (ID_nft)
            ID_nft as id_nft, fecha as fecha_nft, precio as precio_nft
        FROM
            Precio_NFT
        ORDER BY
            ID_nft, fecha DESC
    )as tabla1
    ORDER BY 
        tabla1.precio_nft DESC
)as tabla INNER JOIN NFT ON tabla.id_nft = NFT.ID_nft
LIMIT 4;

 * postgresql://postgres:***@localhost:5432/Universidad
4 rows affected.

[('Dapper Dinos',), ('1NiTRO',), ('Thunder NFT',), ('Flame Stinger',)]

### Consulta 8
**Los precios de todos los NFTs entre los años 2017 y 2019 inclusive.**

Ejemplo:

|NFT |Precio |
|----|---|
|Minecraft Sphere |  4000 |
|The Binary Girl | 3000| 
| Koalas in Love | 6000 |
|Minecraft Sphere |  1250 |
| ... | ... |

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
SELECT
    * 
FROM 
    Creadores
WHERE
    nombre = 'WillyRex';

### Consulta 9 
**Creador al cual le han comprado más NFTs.**

Ejemplo:
   
|Nombre |Apellido |Cantidad |
|-|--|-----|
| Levi |Ackerman |32|

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
SELECT
    * 
FROM 
    Creadores
WHERE
    nombre = 'WillyRex';

### Consulta 10  
**El NFT con mayor precio actual, que pertenezca a un creador X.**

Ejemplo:
   
|NFT |Valor|
|-|-------|
|Minecraft Sphere |18000|

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
SELECT
    * 
FROM 
    Creadores
WHERE
    nombre = 'WillyRex';

### Consulta BONUS
###### (Vale por un abrazo psicológico)

**El usuario que posee más dinero en NFTs considerando los precios actuales de estos**

Ejemplo:
   
|Usuario |Dinero|
|-|-------|
|Levi Ackerman |8000001|

**Solución:** _Escriba aquí la descripción de su solución._

In [ ]:
%%sql
SELECT
    * 
FROM 
    Creadores
WHERE
    nombre = 'WillyRex';